<div class="compose-mail">
<form>
<mat-card class="container">
				<mat-toolbar class="navbar">Bulk Mail Service
						<div class="icon">
											<!-- <button mat-icon-button color="accent"> Import Data</button> -->
											<button mat-icon-button class="toolbar-icon">
													<mat-icon>minimize</mat-icon>
											</button>
											<button mat-icon-button class="toolbar-icon">
													<mat-icon>aspect_ratio</mat-icon>
											</button>
										<button mat-icon-button class="toolbar-icon">
										<mat-icon>close</mat-icon>
								</button>
					</div>
			</mat-toolbar>

			<div>
				<mat-form-field class="input">
								<br>
								<mat-label>
												<h1 style="font-size: 15px;">To</h1>
								</mat-label>
								<mat-chip-list #chipList aria-label="emails">
												<mat-chip
														*ngFor="let email of emailRecords; let i = index"
														(removed)="remove(emailRecords)">
														{{email.email}}
														<button matChipRemove (click)="deleteAddress(email.i)">
																<mat-icon>cancel</mat-icon>
														</button>
												</mat-chip>
												<input
														placeholder="Add mail"
														#fruitInput
														[matChipInputFor]="chipList"
														formControlName="emailCtrl"
														(matChipInputTokenEnd)="add($event)">

												<input type="file" id="input" (change)="excelRead($event)">
											
										</mat-chip-list>
				</mat-form-field>
</div>

<div>
	<label for="Subject"></label>
	<mat-form-field>
					<mat-label>
									<h1 style="font-size: 15px;">Subject</h1>
					</mat-label>
					<input matInput placeholder="text">
	</mat-form-field>
</div>

<!-- quill editor -->
<div class="editor">
	<quill-editor trackChanges="all" [modules]="modules" (onEditorCreated)="addBindingCreated($event)">
		<mat-autocomplete #auto="matAutocomplete">
		<mat-option *ngFor="let email of emailRecords" [value]="email.email">
			{{email.email}}
		</mat-option>
		</mat-autocomplete>
	</quill-editor>
	</div>
</mat-card>
</form>
</div>