.compose-mail{
	background-color: beige;
}
.navbar{
background-color: black;
color: whitesmoke;
height: 50px;
}
.container{
margin-left: 5%;
font-weight: 500;
height:96.5vh;
margin-top: 0;
margin-bottom: 0;	
padding-left: 0;
padding-right: 0;
margin-right: 6%;
}
.icon{
margin-left:82% ;
}
.toolbar-icon{
background-color: black;
color: whitesmoke;
}
.editor{
 margin-top:2%;
 height:72%;
	width: 83%;
	margin-left: 10%;
}
mat-form-field{
	margin-left:10px;
	width: 73vw;
	height: 12px;
	margin-bottom: 50px;
	margin-left: 10%;
}
#subject{
	margin-top:2%
}